* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
}

.container h1 {
    margin-left: 10px;
}

.row:before,
.row:after {
    content: "";
    display: table;
}

.row:after {
    clear: both;
}

.small-square {
    height: 350px;
}

[class*="col-"] {
    min-height: 7px;
    padding: 10px;
    float: left;
}

.dark-gray {
    background-color: #77787C;
}

.light-gray {
    background-color: #DCDDDF;
}

.col-1 {
    width: 8.333333%;
}

.col-2 {
    width: 16.666667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.333333%;
}

.col-5 {
    width: 41.666667%;
}